
    <style>
    .selected {
        background-color: #CFD8DC !important;
        color: white;
    }
    .options {
        margin: 0 0 2em 0;
        background-color: white;
        list-style-type: none;
        padding: 0;
        width: 15em;
        height: 150px; 
        overflow-y: scroll;
        position:absolute;
        z-index: 3;
    }
    .options li {
        cursor: pointer;
        position: relative;
        left: 0;
        background-color: #EEE;
        margin: .5em;
        padding: .3em 0;
        height: 1.6em;
        border-radius: 4px;
    }
    .options li.selected:hover {
        background-color: #BBD8DC !important;
        color: white;
    }
    .options li:hover {
        color: #607D8B;
        background-color: #DDD;
        left: .1em;
    }
    .options .text {
        position: absolute;
        top: -3px;
    }
    .options .badge {
        display: inline-block;
        font-size: small;
        color: white;
        padding: 0.8em 0.7em 0 0.7em;
        background-color: #607D8B;
        line-height: 1em;
        position: absolute;
        left: -1px;
        top: -4px;
        height: 1.8em;
        margin-right: .8em;
        border-radius: 4px 0 0 4px;
    </style>

    <input  ng-model="$ctrl.querry" ng-change="$ctrl.change();" value="{{$ctrl.querry}}" type="text" class="form-control input-circle typeahead" placeholder="{{$ctrl.placeholder}}">
    <ul class="options" ng-if="$ctrl.showOptions" >
        <li ng-repeat="option in $ctrl.propositions">
            <div ng-blur="$ctrl.hideOptions();" ng-click="$ctrl.select(option)">
                {{option}}
            </div>
        </li>
    </ul>