<div class="page-header">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span>
                        </button>
                <a class="navbar-brand" href="#intro">
                    <img class="logo-default" src="assets/onepage2/img/logo_default.png" alt="Logo">
                    <img class="logo-scroll" src="assets/onepage2/img/logo_default.png" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="btn-group more-menu-btn">
                            <a class="btn btn-circle btn-default dropdown-toggle btn-sm" data-toggle="dropdown" href="javascript:;">
                                <div id="nav-icon3">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:;"> Settings
                                                <span class="badge badge-success"> 3 </span>
                                            </a>
                                </li>
                                <li>
                                    <a href="javascript:;"> Preferences </a>
                                </li>
                                <li>
                                    <a href="javascript:;"> Window Options </a>
                                </li>
                                <li>
                                    <a href="javascript:;"> Help
                                                <span class="badge badge-danger"> 7 </span>
                                            </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="page-scroll">
                        <a class="header-btn" href="#features">Comment ça marche?</a>
                    </li>

                    <li class="page-scroll">
                        <div class="btn-group more-languages-btn">
                            <a class="btn btn-circle btn-default dropdown-toggle btn-sm" data-toggle="dropdown" href="javascript:;"> FR
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:;"> Settings
                                                <span class="badge badge-success"> FR </span>
                                            </a>
                                </li>
                                <li>
                                    <a href="javascript:;"> EN </a>
                                </li>
                                <li>
                                    <a href="javascript:;"> DE </a>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <li class="page-scroll">
                        <a ng-if="!$ctrl.isConnected()" class="btn btn-circle orange btn-sm" data-target="#responsive" data-toggle="modal"> Se connecter </a>
                        <div class="col-md-3">

                            <img <div ng-if="$ctrl.isConnected()" src="/img/member/Bas-Avatar-Big-Rounded-Corn.png" height="50px">
                        </div>
                        <div class="col-md-6">
                            <div ng-if="$ctrl.isConnected()" class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    Nick Jhonson
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li ><a>Mon Profile</a></li>
                                        <li ><a>Mes médecins</a></li>
                                        <li ><a>Mez rendez-vous</a></li>
                                        <li ><a>Mez parrainages</a></li>
                                        <li ><a>Mez proches</a></li>


                                        <li role="separator" class="divider"></li>
                                        <li ng-click="$ctrl.deDonnect();"><a>Se déconnecter</a></li>

                                    </ul>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- End Navbar Collapse -->
        </div>
        <!--/container-->
    </nav>
</div>
<div id="responsive" ng-app="myApp" class="modal fade login-popUp" style="border-radius: 0; " tabindex="-1" data-width="760">
    <div class="modal-header" style="border: none">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 login-form">
                <div>
                    <h4 ng-if="!$ctrl.isConnected()" style="padding-left: 15px;font-size: 24px;margin-bottom: 0;">Se connecter</h4>
                    <div class="portlet searchForm">

                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->

                            <div class="form-body">
                                <div class="form-group" style="margin-bottom: 17px;">

                                    <div class="col-md-12">

                                        <input ng-if="!$ctrl.isConnected()" ng-model="$ctrl.username" type="text" class="form-control input-circle" placeholder="Nom Prénom">

                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 17px;">

                                    <div class="col-md-12">
                                        <input ng-if="!$ctrl.isConnected()" ng-model="$ctrl.password" type="password" class="form-control input-circle" placeholder="********">

                                    </div>
                                </div>

                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a ng-click="$ctrl.connect();" ng-if="!$ctrl.isConnected()" data-toggle="modal" class="btn btn-circle btn-sm orange form-submit-btn connect-btn-form"> Connecter
                                                        </a>


                                        <div ng-if="$ctrl.connectionError" class="connection-error" style="color:red">
                                            <b> Ce compte  n’existe pas. Entrez un autre compte ou obtenez-en un nouveau. </b>
                                        </div>
                                        <div ng-if="$ctrl.isConnected()" style="color:green"><br/>
                                            <b>connexion réussie </b><br/><br/>
                                            <a data-target="#responsive" data-toggle="modal" class="btn btn-circle btn-sm orange form-submit-btn connect-btn-form">  redirection vers le site
                                                        </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 inscrire-form">
                <div class="">
                    <h4 style="font-size: 24px;">S'inscrire</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rhoncus tortor ex, </p>

                    <p>
                        <a class="btn btn-circle orange btn-sm form-submit-btn inscrire-form-btn customBTN" data-hide="responsive" data-target="#inscription"
                            data-toggle="modal"> inscrire
                            </a>
                    </p>
                </div>

            </div>

        </div>

    </div>

</div>
<div id="inscription" class="modal fade login-popUp settingsModal" style="border-radius: 0;" tabindex="-1" data-width="760">
    <div class="modal-header" style="border: none">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 login-form">
                <div class="inscription-form">
                    <h4 style="padding-left: 15px;font-size: 24px;">Inscription</h4>
                    <div class="portlet searchForm">

                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form action="#" class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group" style="margin-bottom: 17px;">

                                        <div class="col-md-12">
                                            <code>{{form.input.$error.name}}</code>
                                            <input type="text" ng-model="$ctrl.name" class="form-control input-circle" placeholder="Nom Prénom">

                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 17px;">

                                        <div class="col-md-12">
                                            <input type="text" ng-model="$ctrl.mail" class="form-control input-circle" placeholder="E-mail">

                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 17px;">

                                        <div class="col-md-12">
                                            <input type="text" ng-model="$ctrl.mobile" class="form-control input-circle" placeholder="Mobile">

                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 17px;">

                                        <div class="col-md-12">
                                            <input type="password" ng-model="$ctrl.password" class="form-control input-circle" placeholder="Mot de passe">

                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 17px;">

                                        <div class="col-md-12">
                                            <span ng-if="$ctrl.showError" style="color: red"> les mots de passe ne correspondent pas</span>
                                            <input type="password" ng-blur="$ctrl.passwordMatchVerif()" ng-model="$ctrl.confirmPassword" class="form-control input-circle"
                                                placeholder="Confirmer mot de passe">

                                        </div>
                                    </div>

                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <span ng-if="$ctrl.showValidationError" style="color: red"> veuillez remplir tous les champs </span>
                                            <a class="btn btn-circle orange btn-sm form-submit-btn connect-btn-form customBTN" data-hide="inscription" ng-click="$ctrl.signUp()"
                                                data-toggle="modal"> S'inscrire
                                                </a>

                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>

</div>


<div id="step1" class="modal fade login-popUp settingsModal" style="border-radius: 0;" tabindex="-1" data-width="760">
    <div class="modal-header" style="border: none">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

    </div>
    <div class="modal-body" style="padding: 0;">
        <div class="row">
            <div class="col-md-12 login-form">
                <div class="col-md-12 form-box">
                    <form role="form" action="" method="post" class="f1">
                        <div class="f1-steps">
                            <div class="f1-progress">
                                <div class="f1-progress-line" data-now-value="50" data-number-of-steps="2" style="width: 50%;"></div>
                            </div>
                            <div class="f1-step active">
                                <div class="f1-step-icon">1</div>
                            </div>
                            <div class="f1-step" style="float: right;text-align: right;">
                                <div class="f1-step-icon">2</div>
                            </div>
                            <div class="col-md-12 login-form">
                                <div class="col-md-12 form-box">
                                    <div class="step-header">
                                        <h4>Bravo!</h4>
                                        <p>
                                            l'étape 1 de votre inscription à été réussi avec succès
                                            <span>
                                                      Nous avons envoyé un code de validation à votre adresse e-mail
                                                      <strong>veuillez le saissir </strong>
                                                  </span>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label class="sr-only" for="f1-first-name"></label>
                                            <input type="text" ng-model="$ctrl.key1" name="f1-first-name" maxlength="1" placeholder="" class="f1-first-name form-control"
                                                id="f1-first-name">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="sr-only" for="f1-last-name"></label>
                                            <input type="text" ng-model="$ctrl.key2" name="f1-last-name" maxlength="1" placeholder="" class="f1-last-name form-control"
                                                id="f1-last-name">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="sr-only" for="f1-last-name"></label>
                                            <input type="text" ng-model="$ctrl.key3" name="f1-last-name" maxlength="1" placeholder="" class="f1-last-name form-control"
                                                id="f1-last-name">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="sr-only" for="f1-last-name"></label>
                                            <input type="text" ng-model="$ctrl.key4" name="f1-last-name" maxlength="1" placeholder="" class="f1-last-name form-control"
                                                id="f1-last-name">
                                        </div>
                                    </div>
                                    <div class="f1-buttons">

                                        <button type="button" ng-click="$ctrl.validateCode()" class="btn btn-circle orange btn-sm btn-next">Next</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="step2" class="modal fade login-popUp settingsModal" style="border-radius: 0;" tabindex="-1" data-width="760">
    <div class="modal-header" style="border: none">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

    </div>
    <div class="modal-body" style="padding: 0;">
        <div class="row">
            <div class="col-md-12 login-form">
                <div class="col-md-12 form-box">
                    <form role="form" action="" method="post" class="f1">
                        <div class="f1-steps">
                            <div class="f1-progress">
                                <div class="f1-progress-line" data-now-value="50" data-number-of-steps="2" style="width: 50%;"></div>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon">1</div>
                            </div>
                            <div class="f1-step active ">
                                <div class="f1-step-icon">2</div>
                            </div>
                            <div class="col-md-12 login-form">
                                <div class="col-md-12 form-box">
                                    <div class="step-header">
                                        <h4>Bravo!</h4>
                                        <p> votre inscription est terminée merci de se connecter avec vos identifiants</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
</div>