<section id="customers">
             
                
                <div class="container">
                    <div class="row">
                        <div id="testimonials-slider">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                <div class="heading-blue col-md-12">
                                    <h2>Engagement</h2>

                                </div><!-- //end heading -->
   <div class="cd-testimonials-wrapper cd-container">
	<ul class="cd-testimonials">
		<li>
                    <div class="cd-author">
				<img src="assets/onepage2/img/clients/logo1.png" alt="Author image">
				
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			
		</li>

		<li>
                    <div class="cd-author">
				<img src="assets/onepage2/img/clients/logo2.png" alt="Author image">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ea, perferendis error repudiandae numquam dolor fuga temporibus. Unde omnis, consequuntur.</p>
			
		</li>

		<li>
                    <div class="cd-author">
				<img src="assets/onepage2/img/clients/logo3.png" alt="Author image">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam nulla est, illo molestiae maxime officiis, quae ad, ipsum vitae deserunt molestias eius alias.</p>
			
		</li>
                <li>
                    <div class="cd-author">
				<img src="assets/onepage2/img/clients/logo4.png" alt="Author image">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam nulla est, illo molestiae maxime officiis, quae ad, ipsum vitae deserunt molestias eius alias.</p>
			
		</li>
                <li>
                    <div class="cd-author">
				<img src="assets/onepage2/img/clients/logo5.png" alt="Author image">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam nulla est, illo molestiae maxime officiis, quae ad, ipsum vitae deserunt molestias eius alias.</p>
			
		</li>
                <li>
                    <div class="cd-author">
				<img src="assets/onepage2/img/clients/logo6.png" alt="Author image">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam nulla est, illo molestiae maxime officiis, quae ad, ipsum vitae deserunt molestias eius alias.</p>
			
		</li>
		
	</ul> <!-- cd-testimonials -->

</div>
                                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                                    <!-- Carousel Slides / Quotes -->
                                    <div class="carousel-inner text-center">
                                        <!-- Bottom Carousel Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#quote-carousel" data-slide-to="0" class="col-md-2 active">
                                                <img class="img-responsive " src="assets/onepage2/img/clients/logo1.png" alt="">
                                            </li>
                                            <li data-target="#quote-carousel" data-slide-to="1" class="col-md-2" >
                                                <img class="img-responsive" src="assets/onepage2/img/clients/logo2.png" alt="">
                                                <div class="shadow"></div>
                                            </li>
                                            <li data-target="#quote-carousel" data-slide-to="2" class="col-md-2">
                                                <img class="img-responsive" src="assets/onepage2/img/clients/logo3.png" alt="">
                                            </li>
                                            <li data-target="#quote-carousel" data-slide-to="3" class="col-md-2">
                                                <img class="img-responsive " src="assets/onepage2/img/clients/logo4.png" alt="">
                                            </li>
                                            <li data-target="#quote-carousel" data-slide-to="4" class="col-md-2">
                                                <img class="img-responsive" src="assets/onepage2/img/clients/logo5.png" alt="">
                                                <div class="shadow"></div>
                                            </li>
                                            <li data-target="#quote-carousel" data-slide-to="5" class="col-md-2">
                                                <img class="img-responsive" src="assets/onepage2/img/clients/logo6.png" alt="">
                                            </li>
                                        </ol>


                                        <!-- Quote 1 -->
                                        <div class="item col-md-12 active">
                                            <div class="testimonial">
                                                <h3>New Providence is the great UI kit</h3>
                                                <p>“Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”</p>

                                                <a href="javascript:;" class="btn btn-circle btn-sm orange form-submit-btn clientBTN" style="padding-left:10px"> Chercher
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Quote 2 -->
                                        <div class="item col-md-12">
                                            <div class="testimonial">
                                                <h3>New Providence is the great UI kit</h3>
                                                <p>“Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”</p>

                                                <a href="javascript:;" class="btn btn-circle btn-sm orange form-submit-btn clientBTN" style="padding-left:10px"> Chercher
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Quote 3 -->
                                        <div class="item col-md-12">
                                            <div class="testimonial">
                                                <h3>New Providence is the great UI kit</h3>
                                                <p>“Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”</p>

                                                <a href="javascript:;" class="btn btn-circle btn-sm orange form-submit-btn" style="padding-left:10px"> Chercher
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item col-md-12">
                                            <div class="testimonial">
                                                <h3>New Providence is the great UI kit</h3>
                                                <p>“Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”</p>

                                                <a href="javascript:;" class="btn btn-circle btn-sm orange form-submit-btn clientBTN" style="padding-left:10px"> Chercher
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item col-md-12">
                                            <div class="testimonial">
                                                <h3>New Providence is the great UI kit</h3>
                                                <p>“Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”</p>

                                                <a href="javascript:;" class="btn btn-circle btn-sm orange form-submit-btn clientBTN" style="padding-left:10px"> Chercher
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item col-md-12">
                                            <div class="testimonial">
                                                <h3>New Providence is the great UI kit</h3>
                                                <p>“Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”</p>

                                                <a href="javascript:;" class="btn btn-circle btn-sm orange form-submit-btn clientBTN" style="padding-left:10px"> Chercher
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>