<section id="about">
                <!-- Services BEGIN -->
                <div class="container service-bg">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="services sm-margin-bottom-100">
                                <div class="services-wrap col-md-3">
                                    <div class="service-body">
                                        <img src="assets/onepage2/img/widgets/icon1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h2>1000</h2>
                                    <p>Médecins</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="services sm-margin-bottom-100">
                                <div class="services-wrap col-md-3">
                                    <div class="service-body">
                                        <img src="assets/onepage2/img/widgets/icon2.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h2>79 <span style="font-size: 19px;"> Seconde</span> </h2>
                                    <p>(pour la prise de rendez-vous)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="services sm-margin-bottom-100">
                                <div class="services-wrap col-md-3">
                                    <div class="service-body">
                                        <img src="assets/onepage2/img/widgets/icon3.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h2>Des Patients</h2>
                                    <p>Satisfaite</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Services END -->
            </section>